---
layout: default
---

<div class='container'>
    <header class="masthead text-center">
      <!-- <h3> Welcome to Swarm Lab at UT Austin</h3> -->
      <img class='img-responsive center-block' src="/images/logo/swarm-lab-landing-image.png" width="100%" height="80%" />
      
      <p>
          <text_home style="font-weight: 400;">Department of Electrical and Computer Engineering</text_home><br>
          <a href="https://robotics.utexas.edu/" style="font-size: 24px"> Texas Robotics</a> | <a href="https://wncg.org/" style="font-size: 24px">Wireless Networking and Communications Group (WNCG)</a><br>
          <text_home style="font-weight: 400;">The University of Texas at Austin</text_home>

        <span style="display: block; margin-bottom: 1em"></span>

      <a href="https://github.com/UTAustin-SwarmLab" style="font-size: 24px"><i class="fa fa-github"></i> Swarm Lab</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:sandeepc@utexeas.edu" style="font-size: 24px"><i class="fa fa-envelope-o"></i> sandeepc@utexas.edu</a>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h2> Recent News </h2>
          <u>Happenings of the last two months. Updated {{ 'now' | date: "%m/%d/%y" }}.</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 5184000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>

      <span style="display: block; margin-bottom: 1em"></span>

      <div class="col-lg-12", id="Sponsors">
        <div class="section-title" style="padding-top: 25px">
          <h1>Sponsors</h1></div>
      </div>

      <div class="trend-entry d-flex">
          <div class="column justify-content-md-center">
            <img src="/images/logo/logos.png" alt="Logos" style="width:100%">
          </div>
      </div>

      <!-- <span style="display: block; margin-bottom: 5em"><img src="/images/logo/cisco.png" width="100" alt="My Image" /></span> -->
      <!-- <div style="text-align: center;"><img src="/images/logo/cisco.png" width="100" alt="My Image" /></div> -->
      <!-- <span style="display: block; margin-bottom: 5em"></span> -->
      <!-- <span style="display: block; margin-right: 5em"><img src="/images/logo/darpa.png" width="100" alt="My Image" /></span> -->
      <!-- <div style="text-align: center;"><img src="/images/logo/darpa.png" width="100" alt="My Image" /></div> -->
      <!-- <div style="text-align: center;"><img src="/images/logo/good_systems.png" width="100" alt="My Image" /></div>
      <div style="text-align: center;"><img src="/images/logo/hri.png" width="100" alt="My Image" /></div>
      <div style="text-align: center;"><img src="/images/logo/intel.png" width="100" alt="My Image" /></div>
      <div style="text-align: center;"><img src="/images/logo/LM.png" width="100" alt="My Image" /></div>
      <div style="text-align: center;"><img src="/images/logo/NSF.png" width="100" alt="My Image" /></div>
      <div style="text-align: center;"><img src="/images/logo/ONR.png" width="100" alt="My Image" /></div>
      <div style="text-align: center;"><img src="/images/logo/viavi.png" width="100" alt="My Image" /></div> -->
    
    </header>




  </body>


      <!-- <div style="text-align:center">
        <h3 style="color: #000000"> Our Sponsors </h3>
      </div>
      <span>  
      <img class='img-responsive center-block' src="/images/logo/intel.png" width="10%" height="50%" />
    </span> -->
</div>
